{% extends 'elements/dashboard_app.html' %}
{% block content %}

<!-- Divider between Sidebar and Content -->
<div class="b-example-divider b-example-vr"></div>

<!-- Content Section -->
<div class="flex-grow-1 p-3 overflow-auto">

    <!-- Breadcrumb -->
    <div class="container my-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
                <li class="breadcrumb-item">
                    <a class="link-body-emphasis" href="/">
                        <svg class="bi" width="16" height="16">
                            <use xlink:href="#home"></use>
                        </svg>
                        <span class="visually-hidden">Home</span>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a class="link-body-emphasis fw-semibold text-decoration-none" href="/dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    {% for employee_data in all_employees %}
                    {% if employee_data[1] == user[0] %}
                    <span
                        class="badge bg-warning-subtle text-warning-emphasis rounded-pill">{{employee_data[8]|upper}}</span>
                    {% endif %}
                    {% endfor %}
                    Dashboard
                </li>
            </ol>
        </nav>
    </div>

    <!-- DashBoard Cards -->
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3 text-bg-light border-light">
                    <h4 class="my-0 fw-normal">Projects</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ total_projects}}<small
                            class="text-body-secondary fw-light small-card"><br>Projects</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>{{active_projects}} <span class="text-success">Active</span> Project</li>
                        <li>{{inactive_projects}} <span class="text-danger">Inactive</span> Projects</li>
                        <!-- <li>5 Completed Project</li> -->
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-outline-secondary">Projects Details</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3 text-bg-secondary border-secondary">
                    <h4 class="my-0 fw-normal">Employees</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{total_all_employees}}<small
                            class="text-body-secondary fw-light small-card"><br>Employees</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>{{total_general_managers}} General Manager</li>
                        <li>{{total_project_managers}} Project Managers</li>
                        <li>{{total_employees}} Employees</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-outline-secondary">Employees Details</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3 text-bg-primary border-primary">
                    <h4 class="my-0 fw-normal">Attendance</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{average_daily_hours}}<small
                            class="text-body-secondary fw-light small-card"><br>Average daily hours</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>{{total_day_shift_hours}} Day Hours</li>
                        <li>{{total_night_shift_hours}} Night Hours</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Attendance Details</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Two Boxes  -->
    <div class="container-fluid pb-3">
        <div class="d-grid gap-3" style="grid-template-columns: 2fr 2fr;">
            <div class="bg-light border rounded-3">
                <br><br><br><br>
                <p>TO:DO - Graph goes here.. </p>
            </div>
            <div class="bg-light border rounded-3">
                <div class="bd-example">
                    <table class="table">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Avatar</th>
                                <th scope="col">Name</th>
                                <th scope="col">Project</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for employee_data in all_employees %}
                            {% if employee_data[0] != session['user_id']%}

                            <tr>
                                <th scope="row">{{ employee_data[0] }}</th>
                                <td><img src="{{ url_for('static', filename='uploads/' + employee_data[9]) }}"
                                        alt="{{ employee_data[6] }} Employee" class="rounded-circle"
                                        title="{{ employee_data[7] }} Photo" width="50" height="50" />
                                </td>
                                <td>{{ employee_data[7] }} {{ employee_data[6] }}</td>
                                <td>{{ employee_data[10] }}</td>
                                <td></td>
                            </tr>
                            {% endif %}

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <footer class="py-3 my-4">
            <p class="text-center text-body-secondary">© 2024 MKweb, Inc</p>
        </footer>
    </div>
</div>
</main>

{% endblock %}