{% extends 'elements/index_app.html' %}
{% block content %}

<main>
    <h1 class="visually-hidden">Employee Attendance App</h1>

    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap" />
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
                    <li><a href="#features" class="nav-link px-2 text-white">Features</a></li>
                    <li><a href="https://www.mohamedkadi.com" class="nav-link px-2 text-white">Documentation</a></li>
                    <li><a href="#about" class="nav-link px-2 text-white">About</a></li>
                </ul>

                <div class="text-end">
                    {% if user %}
                    <a href="{{ url_for('dashboard_route') }}" class="btn btn-outline-light me-2">Dashboard</a>
                    <!-- <a href="{{ url_for('logout') }}" class="btn btn-warning">Logout</a> -->
                    {% else %}
                    <a href="{{ url_for('login') }}" class="btn btn-outline-light me-2">Login</a>
                    {% endif %}
                </div>
                {% if user %}
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ url_for('static', filename='uploads/' + logged_in_employee[9]) }}"
                            alt="{{ logged_in_employee[6] }} Employee" title="{{ logged_in_employee[7] }}" width="40"
                            height="40" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><strong class="dropdown-item" href="#">{{logged_in_employee[6] +"
                                "+ logged_in_employee[7]}}</strong></li>
                        <li><a class="dropdown-item" href="/update_employee/{{ logged_in_employee[0] }}"> Edit
                                Profile</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{{ url_for('logout') }}">Sign out</a></li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
        <h2>

        </h2>
    </header>

    <div class="container col-xxl-8 px-4 py-5" id="about">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{{ url_for('static', filename='images/screenshot.png') }}"
                    class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy" style="border: 5px solid #e1e1e169;">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">E.A.P - Your Employee Attendance Solution
                </h1>
                <p class="lead">The Employee Attendance App is designed to efficiently track employee time and attendance, providing project managers and general managers with a user-friendly interface. The app categorizes users into General Managers and Project Managers and Employees.</p>
     
            </div>
        </div>
    </div>

    <div class="b-example-divider"></div>

    <div class="container px-4 py-5" id="icon-grid" >
        <h2 class="pb-2 border-bottom" id="features">Attendance App Features</h2>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
            <div class="col d-flex align-items-start">
                <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                    <use xlink:href="#bootstrap" />
                </svg>
                <div>
                    <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Role-Based Access Control</h3>
                    <p>Implements different access levels (General Manager, Project Manager, Employee) with specific permissions tailored to their roles.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <svg class="bi text-primary flex-shrink-0 me-3" width="1.75em" height="1.75em" viewBox="0 0 16 16">
                    <path d="M3 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3.5a.5.5 0 0 1-.5-.5v-1zM2 2v2a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1zm0 11v2a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1zm11.5-8a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h1zM14 7v2a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1z"/>
                  </svg>                  
                <div>
                    <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Project Management</h3>
                    <p>Enables General Managers to create and manage projects, assigning them to Project Managers.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <svg class="bi text-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em" viewBox="0 0 16 16">
                    <path d="M8 0c3.314 0 6 2.686 6 6s-2.686 6-6 6-6-2.686-6-6 2.686-6 6-6zm0 2a3.977 3.977 0 0 0-3.867 3h7.734A3.977 3.977 0 0 0 8 2zm0 12a5.5 5.5 0 0 1-4.816-2.766C3.44 10.647 6.367 9 8 9c1.633 0 4.56 1.647 4.816 3.234A5.5 5.5 0 0 1 8 14z"/>
                  </svg>
                  
                <div>
                    <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Employee Management</h3>
                    <p>Allows General Managers to create and manage employee profiles, assigning them to Project Managers and projects.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                    <use xlink:href="#home" />
                </svg>
                <div>
                    <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Attendance Tracking</h3>
                    <p>Records employee attendance data, with Project Managers able to add attendance records for their assigned employees.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                    <use xlink:href="#speedometer2" />
                </svg>
                <div>
                    <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Reporting System</h3>
                    <p>Generates comprehensive attendance reports for General Managers, including data from all projects, employees, and managers.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <svg class="bi text-info flex-shrink-0 me-3" width="1.75em" height="1.75em" viewBox="0 0 16 16">
                    <path d="M8 1.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13zM8 3a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V3.5a.5.5 0 0 1 .5-.5zm.45 7.12c-.246.28-.45.6-.45 1.1a.5.5 0 0 0 1 0c0-.5.202-.82.45-1.1.247-.281.55-.52.55-1.1a.5.5 0 0 0-1 0c0 .58-.303.819-.55 1.1z"/>
                  </svg>                  
                <div>
                    <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">History Viewing</h3>
                    <p>Provides a historical view of attendance records, accessible to all user roles for their respective scope (personal, project-specific, or organization-wide).</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <svg class="bi text-warning flex-shrink-0 me-3" width="1.75em" height="1.75em" viewBox="0 0 16 16">
                    <path d="M8.82 1.073a1.117 1.117 0 0 0-1.64 0l-6.5 7.304a1.117 1.117 0 0 0 .82 1.895h13a1.117 1.117 0 0 0 .82-1.895l-6.5-7.304z"/>
                    <path d="M7.625 11.338a1.035 1.035 0 1 0 1.752 0h-1.752z"/>
                  </svg>
                  
                <div>
                    <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Notification System</h3>
                    <p>Sends reminders and alerts for upcoming shifts, attendance discrepancies, or pending time-off requests.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <svg class="bi text-warning flex-shrink-0 me-3" width="1.75em" height="1.75em" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 2a2.5 2.5 0 0 1 2.5-2.5h6A2.5 2.5 0 0 1 13 2v1a1 1 0 0 1-1 1v8a1 1 0 0 1 1 1v1a2.5 2.5 0 0 1-2.5 2.5h-6A2.5 2.5 0 0 1 0 13.5v-9A2.5 2.5 0 0 1 2.5 2zM8 4.5a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0 7a4.001 4.001 0 0 1-3.448-2H11.45A4.001 4.001 0 0 1 8 11.5z"/>
                  </svg>                  
                <div>
                    <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">User Management</h3>
                    <p> General Managers can add, modify, or remove managers and employees, ensuring an up-to-date organizational structure.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="b-example-divider"></div>
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol id="bootstrap" viewBox="0 0 118 94">
            <title>Bootstrap</title>
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z">
            </path>
        </symbol>
        <symbol id="arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
        </symbol>
        <symbol id="check2-circle" viewBox="0 0 16 16">
            <path
                d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
            <path
                d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
        </symbol>
    </svg>
    <div class="container my-5">
        <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
            <button type="button"
                class="position-absolute top-0 end-0 p-3 m-3 btn-close bg-secondary bg-opacity-10 rounded-pill"
                aria-label="Close"></button>
            <svg class="bi mt-5 mb-3" width="48" height="48">
                <use xlink:href="#check2-circle" />
            </svg>
            <h1 class="text-body-emphasis">Attendance Management Suite</h1>
            <p class="col-lg-6 mx-auto mb-4">
                Attendance Master simplifies attendance tracking and management with role-based access control. General Managers effortlessly assign projects 
                and employees, while Project Managers efficiently log attendance. Custom reports offer detailed insights for informed decision-making.
            </p>
            <button class="btn btn-primary px-5 mb-5" type="button">
                Get It Now!
            </button>
        </div>
    </div>
    <div class="b-example-divider"></div>

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-body-secondary">&copy; 2024 Mkweb, Inc</p>

            <a href="/"
                class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap" />
                </svg>
            </a>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
                <li class="nav-item"><a href="#features" class="nav-link px-2 text-body-secondary">Features</a></li>
                <li class="nav-item"><a href="https://www.mohamedkadi.com" class="nav-link px-2 text-body-secondary">Documentation</a></li>
                <li class="nav-item"><a href="#about" class="nav-link px-2 text-body-secondary">About</a></li>
            </ul>
        </footer>
    </div>

</main>

{% endblock %}