{% extends 'elements/login_app.html' %}
{% block content %}

<main class="form-signin w-100 m-auto">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger">
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}
    <form action="/login" method="POST">
        {{ form.hidden_tag() }}
        <a href="{{ url_for('index') }}"><img class="mb-4 mx-auto d-block"
                src="{{ url_for('static', filename='assets/brand/bootstrap-logo.svg') }}" alt="Employee Attendance App"
                width="72" height="57"></a>
        <h1 class="visually-hidden">Login Form</h1>

        <div class="form-floating">
            {{ form.email(id="email", class="form-control", placeholder="name@example.com",
            placeholder="Password")}}
            {{ form.email.label(for="email")}}

            {% if form.email.errors %}
            <ul>
                {% for error in form.email.errors %}
                <li> {{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="form-floating">
            {{ form.password(id="password", class="form-control", placeholder="Password")}}
            {{ form.password.label(for="password")}}
            {% if form.password.errors %}
            <ul>
                {% for error in form.password.errors %}
                <li> {{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="form-check text-start my-3">
            <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Remember me
            </label>
        </div>
        {{ form.submit(class="btn btn-primary w-100 py-2")}}
        <p class="mt-5 mb-3 text-body-secondary text-center">Mkweb - &copy; 2024</p>
    </form>
</main>

{% endblock %}